@font-face {
    font-family: 'myfont3';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/gesstwomedium.ttf);
  }
  @font-face{font-family:CNA;src:url('../fonts/Cocon Next Arabic-Light.eot');src:url('../fonts/Cocon Next Arabic-Light.eot?#iefix') format('embedded-opentype'),url('../fonts/Cocon Next Arabic-Light.woff') format('woff'),url('../fonts/Cocon Next Arabic-Light.ttf') format('truetype'),url('../fonts/Cocon Next Arabic-Light.svg#CoconNextArabic-Light') format('svg');}
  
  

@font-face {
  font-family: 'myfont3';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/gesstwomedium.ttf);
}
@font-face{font-family:CNA;src:url('../fonts/Cocon Next Arabic-Light.eot');src:url('../fonts/Cocon Next Arabic-Light.eot?#iefix') format('embedded-opentype'),url('../fonts/Cocon Next Arabic-Light.woff') format('woff'),url('../fonts/Cocon Next Arabic-Light.ttf') format('truetype'),url('../fonts/Cocon Next Arabic-Light.svg#CoconNextArabic-Light') format('svg');}

